body{
    background-color:rgb(87, 53, 23);
}
#div{
    display: flex1;
    width: 350px;
    height: 200px;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(195, 195, 207);
}

#central{
    display: flex;
}

#drag1{
    display: block ;
    margin: auto;
    padding-top: 25px;
}

